{% extends "layout.html" %}
{% block body_content %}
<h3>This page displays  your latest three workouts, alongside the highest number of reps you completed for each exercise </h3>       
<form method = 'POST' action=''>
{{ form.hidden_tag() }}

	{% for workout in workout1 %}
       Exercise:
       {% for exercise in exercises %}
       {% if workout.exerciseid == exercise.exerciseid %}
       {{ exercise.exercise }} |
       {% endif %}
        {% endfor %}
        Reps completed: {{ workout.reps_completed }}<br>
        {% endfor %}
	{{ form.deleteWorkout.label }}
	{{ form.deleteWorkout }}
	{{ form.submit }}

{% endblock %}
