{% extends "layout.html" %}
{% block body_content %}
<div class='form'>
        <form method='POST' action=''>
                {{ form.hidden_tag() }}
		{{ form.username.label }}
                {{ form.username }}
                {% if form.username.errors %}
                <div class='error'>
                        {% for error in form.username.errors %}
                        <span> {{ error }} </span>
                        {% endfor %}
                </div>
                {% endif %}
</div>
<br>
        <form method='POST' action=''>
                {{ form.hidden_tag() }}
		{{ form.password.label }}
                {{ form.password }}
                {% if form.password.errors %}
                <div class='error'>
                        {% for error in form.password.errors %}
                        <span> {{ error }} </span>
                        {% endfor %}
                </div>
                {% endif %}
                </div>
                <br>
		{{ form.remember.label }}
		{{ form.remember }}
		{{ form.submit }}
		{% endblock %}

